body.path-mod-dialogue {
  /* Ensure all Bootstrap is contained to the main page region and doesn't interfere with the theme outside it */
}
body.path-mod-dialogue .js-control {
  display: none;
}
body.path-mod-dialogue .js-control input {
  border: none;
}
body.path-mod-dialogue.jsenabled .js-control {
  display: inline-block;
}
body.path-mod-dialogue.jsenabled .nonjs-control,
body.path-mod-dialogue.jsenabled .nonjs-control input {
  display: none;
}
body.path-mod-dialogue #region-main {
  /** Bootstrap **/
  /* fieldset.hidden vs .hidden
     *
     * Moodle uses fieldset.hidden for mforms, to signify a collection of
     * form elements that don't have a box drawn round them. Bootstrap
     * uses hidden for stuff that is hidden in various responsive modes.
     *
     * Relatedly, there is also fieldset.invisiblefieldset which hides the
     * border and sets the display to inline.
     *
     * Originally this just set block and visible, but it is used
     * in random question dialogue in Quiz,
     * that dialogue is hidden and shown, so when hidden the
     * above workaround leaves you with a button floating around
     */
  /** autocomplete **/
  /* listing meta */
  /* dropdown group - contains both js and no-js controls */
}
body.path-mod-dialogue #region-main .clearfix {
  *zoom: 1;
}
body.path-mod-dialogue #region-main .clearfix:before,
body.path-mod-dialogue #region-main .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
body.path-mod-dialogue #region-main .clearfix:after {
  clear: both;
}
body.path-mod-dialogue #region-main .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
body.path-mod-dialogue #region-main .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.path-mod-dialogue #region-main .thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}
body.path-mod-dialogue #region-main .thumbnails:before,
body.path-mod-dialogue #region-main .thumbnails:after {
  display: table;
  content: "";
  line-height: 0;
}
body.path-mod-dialogue #region-main .thumbnails:after {
  clear: both;
}
body.path-mod-dialogue #region-main .row-fluid .thumbnails {
  margin-left: 0;
}
body.path-mod-dialogue #region-main .thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}
body.path-mod-dialogue #region-main .thumbnail {
  display: block;
  padding: 4px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.path-mod-dialogue #region-main a.thumbnail:hover,
body.path-mod-dialogue #region-main a.thumbnail:focus {
  border-color: #08c;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
body.path-mod-dialogue #region-main .thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body.path-mod-dialogue #region-main .thumbnail .caption {
  padding: 9px;
  color: #555;
}
body.path-mod-dialogue #region-main .media,
body.path-mod-dialogue #region-main .media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}
body.path-mod-dialogue #region-main .media,
body.path-mod-dialogue #region-main .media .media {
  margin-top: 15px;
}
body.path-mod-dialogue #region-main .media:first-child {
  margin-top: 0;
}
body.path-mod-dialogue #region-main .media-object {
  display: block;
}
body.path-mod-dialogue #region-main .media-heading {
  margin: 0 0 5px;
}
body.path-mod-dialogue #region-main .media > .pull-left {
  margin-right: 10px;
}
body.path-mod-dialogue #region-main .media > .pull-right {
  margin-left: 10px;
}
body.path-mod-dialogue #region-main .media-list {
  margin-left: 0;
  list-style: none;
}
body.path-mod-dialogue #region-main .badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999;
}
body.path-mod-dialogue #region-main .badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
body.path-mod-dialogue #region-main .badge:empty {
  display: none;
}
body.path-mod-dialogue #region-main a.badge:hover,
body.path-mod-dialogue #region-main a.badge:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
body.path-mod-dialogue #region-main .label-important,
body.path-mod-dialogue #region-main .badge-important {
  background-color: #b94a48;
}
body.path-mod-dialogue #region-main .label-important[href],
body.path-mod-dialogue #region-main .badge-important[href] {
  background-color: #953b39;
}
body.path-mod-dialogue #region-main .label-warning,
body.path-mod-dialogue #region-main .badge-warning {
  background-color: #f89406;
}
body.path-mod-dialogue #region-main .label-warning[href],
body.path-mod-dialogue #region-main .badge-warning[href] {
  background-color: #c67605;
}
body.path-mod-dialogue #region-main .label-success,
body.path-mod-dialogue #region-main .badge-success {
  background-color: #468847;
}
body.path-mod-dialogue #region-main .label-success[href],
body.path-mod-dialogue #region-main .badge-success[href] {
  background-color: #356635;
}
body.path-mod-dialogue #region-main .label-info,
body.path-mod-dialogue #region-main .badge-info {
  background-color: #3a87ad;
}
body.path-mod-dialogue #region-main .label-info[href],
body.path-mod-dialogue #region-main .badge-info[href] {
  background-color: #2d6987;
}
body.path-mod-dialogue #region-main .label-inverse,
body.path-mod-dialogue #region-main .badge-inverse {
  background-color: #333;
}
body.path-mod-dialogue #region-main .label-inverse[href],
body.path-mod-dialogue #region-main .badge-inverse[href] {
  background-color: #1a1a1a;
}
body.path-mod-dialogue #region-main .btn .badge {
  position: relative;
  top: -1px;
}
body.path-mod-dialogue #region-main .btn-mini .badge {
  top: 0;
}
body.path-mod-dialogue #region-main .pull-right {
  float: right !important;
}
body.path-mod-dialogue #region-main .pull-left {
  float: left !important;
}
body.path-mod-dialogue #region-main .yui3-aclist-field input:focus {
  outline-width: 0;
}
body.path-mod-dialogue #region-main .yui3-aclist-field,
body.path-mod-dialogue #region-main .yui3-aclist-field * {
  display: inline-block;
  margin: 0;
  /* reset */
  padding: 0;
  /* reset */
}
body.path-mod-dialogue #region-main .yui3-aclist-field > ul li {
  list-style-type: none;
}
body.path-mod-dialogue #region-main .yui3-aclist-field > ul:empty {
  display: none;
}
body.path-mod-dialogue #region-main .yui3-aclist-field {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  color: #555555;
  padding: 3px 3px;
}
body.path-mod-dialogue #region-main .yui3-aclist-field input.yui3-aclist-input {
  border: 0px;
  margin-bottom: 0px;
}
body.path-mod-dialogue #region-main .yui3-aclist-field .yui3-aclist-item,
body.path-mod-dialogue #region-main .yui3-aclist-field .yui3-aclist-footer {
  display: block;
  padding: 3px 6px;
}
body.path-mod-dialogue #region-main .yui3-aclist-field .yui3-aclist-footer {
  padding: 0px 6px;
}
body.path-mod-dialogue #region-main .yui3-aclist-field .aclist-participant-item img.userpicture,
body.path-mod-dialogue #region-main .yui3-aclist-field .yui3-aclist-item img.userpicture {
  vertical-align: middle;
  border-radius: 3px;
  height: 24px;
  width: 24px;
}
body.path-mod-dialogue #region-main .yui3-aclist-field .yui3-aclist-item span.participant-name {
  margin-left: 5px;
}
body.path-mod-dialogue #region-main .aclist-participant-item {
  /*display: inline-block;*/
  padding: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: #ffefca;
  border-radius: 3px;
  border-color: #e4af5f;
  border-style: solid;
  border-width: 1px;
  margin-right: 5px;
}
body.path-mod-dialogue #region-main .aclist-participant-item span {
  margin: 0 5px;
}
body.path-mod-dialogue #region-main .aclist-participant-item .remove {
  cursor: pointer;
}
body.path-mod-dialogue #region-main .conversation,
body.path-mod-dialogue #region-main .conversation-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}
body.path-mod-dialogue #region-main .conversation,
body.path-mod-dialogue #region-main .conversation .conversation {
  margin-top: 15px;
}
body.path-mod-dialogue #region-main .conversation:first-child {
  margin-top: 0;
}
body.path-mod-dialogue #region-main .conversation-object {
  display: block;
}
body.path-mod-dialogue #region-main .conversation-object img.userpicture {
  width: 64px;
  height: 64px;
}
body.path-mod-dialogue #region-main .conversation-heading {
  margin: 0 0 5px;
}
body.path-mod-dialogue #region-main .conversation-heading .heading {
  display: inline-block;
  margin: 0;
}
body.path-mod-dialogue #region-main .message-actions {
  list-style-type: none;
}
body.path-mod-dialogue #region-main .message-actions li {
  display: inline;
}
body.path-mod-dialogue #region-main .message-actions li a {
  margin-left: 10px;
}
body.path-mod-dialogue #region-main .message-actions li i.fa {
  margin-left: 5px;
}
body.path-mod-dialogue #region-main .conversation-body {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 0.8em;
}
body.path-mod-dialogue #region-main .conversation hr {
  margin: 3px 0;
}
body.path-mod-dialogue #region-main .conversation .attachments span {
  margin: 0 3px;
}
body.path-mod-dialogue #region-main .conversation > .pull-left {
  margin-right: 10px;
}
body.path-mod-dialogue #region-main .conversation > .pull-right {
  margin-left: 10px;
}
body.path-mod-dialogue #region-main .conversation .participants {
  margin-top: 10px;
  margin-left: 74px;
}
body.path-mod-dialogue #region-main .conversation .participants span.participant {
  margin: 0 5px;
}
body.path-mod-dialogue #region-main .conversation-list {
  margin-left: 0;
  list-style: none;
}
body.path-mod-dialogue #region-main .state-indicator {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
body.path-mod-dialogue #region-main .state-indicator:empty {
  display: none;
}
body.path-mod-dialogue #region-main .state-open {
  background-color: #5cb85c;
}
body.path-mod-dialogue #region-main .state-closed {
  background-color: #d9534f;
}
body.path-mod-dialogue #region-main .state-draft {
  background-color: #f0ad4e;
}
body.path-mod-dialogue #region-main .state-bulk {
  background-color: #5bc0de;
}
body.path-mod-dialogue #region-main .listing-meta h6 {
  display: inline-block;
}
body.path-mod-dialogue #region-main .listing-meta:before {
  content: "";
  display: block;
  clear: both;
}
body.path-mod-dialogue #region-main .dropdown-group {
  display: inline-block;
}
body.path-mod-dialogue #region-main .dropdown-group > span {
  margin-right: 10px;
}
body.path-mod-dialogue #region-main .participation {
  margin-top: 10px;
}
body.path-mod-dialogue #region-main .participation + span {
  display: inline-block;
  margin: 0 10px 0 0;
}
body.path-mod-dialogue #region-main span.participant {
  margin: 0 10px 0 0;
}
body.path-mod-dialogue #region-main hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
body.path-mod-dialogue #region-main .mform fieldset {
  border: none;
}
body.path-mod-dialogue #region-main fieldset.hidden {
  display: inherit;
  visibility: inherit;
}
body.path-mod-dialogue #region-main .drop-down-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: bottom;
  border-top: 4px solid black;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  cursor: pointer;
}
body.path-mod-dialogue #region-main .input-xxlarge {
  width: 530px;
}
body.path-mod-dialogue #region-main .img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
body.path-mod-dialogue.jsenabled .conversation-list tr:hover,
body.path-mod-dialogue.jsenabled .draft-list tr:hover,
body.path-mod-dialogue.jsenabled .bulkopenrule-list tr:hover {
  cursor: pointer;
}
